.about_me,
.about_me * {
    box-sizing: border-box;
}

.about_me {
    padding: 106px 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text_group h1 {
    margin-bottom: 10px;
}

.child_text_group {
    display: flex;
    justify-content: flex-start;
}

.child_text_group * {
    width: 50%;
}

.rectangle_group {
    height: auto;
    margin: 4px auto;
    border-radius: 50px;
    background-color: rgb(240, 242, 244);
}

.rectangle{
    border-radius: 50px;
    background-color: rgb(0, 81, 255);
    height: 100%;
    transition: width 0.3s ease;
}
.java .rectangle {
    width: 95%;
}
.database .rectangle {
    width: 90%;
}
.js .rectangle {
    width: 65%;
}
.cloud .rectangle {
    width: 75%;
}
.html .rectangle {
    width: 85%;
}
.python .rectangle {
    width: 55%;
}
.ai .rectangle {
    width: 40%;
}

