@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Gowun Dodum', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgb(0, 0, 0);
  background: rgb(245, 245, 247);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.children{
  padding-top: 1.5cm;
}
.customContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.customFormContainer {
  width: 100%;
  max-width: 500px;
  padding: 80px 32px 200px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.imageStyle {
  width: 14rem;
  padding: 2.25rem 0;
}

@media (min-width: 640px) {
  .imageStyle {
    width: 400px;
  }
}
