.headerNavbar {
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
    height: 56px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}
.menuWrap {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    position: relative;
}
.menuLogo {
    position: absolute;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    top: 50%;
    transform: translateY(-50%);
}
.menuList {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
    gap: 24px;
    padding: 6px 9px;
    font-size: 14px;
    line-height: 36px;
    background-color: hsla(0, 0%, 100%, .6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
}
.menuItem {
    width: 120px;
    text-align: center;
    color: #75777d;
    font-weight: 600;
}
.menuCurrent{
    color: rgb(17, 133, 197);
}
.menuItem:hover {
    color: rgb(17, 133, 197);
}
.menuToggle {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .menuList {
        display: flex;
    }
    .menuToggle{
        display: none;
    }
}

.menuButton {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.menuButtonOpen {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.menuCloseButton {
    width: 100%;
    padding: 16px 2.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
