@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
}

.fadeOut {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOut 1.0s ease-in-out;
}

.hidden {
    opacity: 0;
}

.borderContainer {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.borderItem {
    width: 100%;
    height: auto;
    background-color: rgb(205, 190, 164);
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    perspective: 1000px;
    transition-duration: 300ms;
}



.borderText {
    font-family: 'pretendard',  sans-serif;
    letter-spacing: 2px;
    font-size: 9px;
    font-weight: 510;
    color: #ffffff;
}
@media (min-width: 370px) {
    .borderText {
        font-size: 10px;
    }
    .borderItem {
        padding: 8px 13px;
    }
}
@media (min-width: 492px) {
    .borderText {
        font-size: 14px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}
@media (min-width: 640px) {
    .borderText {
        font-size: 16px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}

@media (min-width: 768px) {
    .borderText {
        font-size: 20px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}

@media (min-width: 1024px) {
    .borderText {
        font-size: 22px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}

@media (min-width: 1280px) {
    .borderText {
        font-size: 24px;
    }

    .borderItem {
        padding: 12px 18px;
    }
}

@keyframes flipIn {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.flipIn {
    animation: flipIn 2s forwards;
}

.sliderContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 400px;
}

.slideItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    opacity: 0.9;
    filter: brightness(0.9);
    user-select: none;
    /*border-radius: 50px;*/
}

.slideText {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
}

.char {
    position: absolute;
    transform-origin: bottom center;
    font-size: 2rem;
    transform: translateY(50%) rotate(-10deg);
    text-align: center;
    user-select: none;
}



.indicatorContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #cacaca;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.activeIndicator {
    background-color: rgb(14 165 233);
    transform: scale(1.3);
}

.active {
    opacity: 1;
    visibility: visible;
}


