@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 0.7s ease-in-out forwards;
}

.fadeOut {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOut 1.0s ease-in-out;
}

.hidden {
    opacity: 0;
}

.borderContainer {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.borderContainer {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.borderItem {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 90%;
    height: auto;
    background: url("https://www.transparenttextures.com/patterns/retina-wood.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    perspective: 1000px;
    opacity: 0;
}

.borderItem:nth-child(odd) {
    background-color: rgba(246, 131, 0, 0.3);
}

.borderItem:nth-child(even) {
    background-color: rgba(213, 108, 3, 0.3);
}

.borderItem:nth-child(3n+1) {
    background-color: rgba(253, 158, 3, 0.3);
}

.borderItem:nth-child(3n+2) {
    background-color: rgba(250, 147, 2, 0.3);
}



.borderText {
    font-family: "Afacad Flux", 'pretendard',  sans-serif;
    letter-spacing: 2px;
    font-size: 9px;
    font-weight: 510;
    color: #303030;
}
@media (min-width: 370px) {
    .borderText {
        font-size: 10px;
    }
    .borderItem {
        padding: 8px 13px;
    }
}
@media (min-width: 492px) {
    .borderText {
        font-size: 14px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}
@media (min-width: 640px) {
    .borderText {
        font-size: 16px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}

@media (min-width: 768px) {
    .borderText {
        font-size: 20px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}

@media (min-width: 1024px) {
    .borderText {
        font-size: 22px;
    }
    .borderItem {
        padding: 8px 15px;
    }
}

@media (min-width: 1280px) {
    .borderText {
        font-size: 24px;
    }

    .borderItem {
        padding: 12px 18px;
    }
}

@keyframes flipIn {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.flipIn {
    animation: flipIn 2s forwards;
}

.itemHidden {
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}
.borderItem:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
