.page_nation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.page_nation_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.page_button {
    color: #8b95a1;
    font-weight: 400;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.page_button:hover {
    background-color: #f0f2f4;
}
.page_button.active {

    color: #333d4b;
    background-color: #e3e6e9;
    border-radius: 50px;
    opacity: 1;
}

.page_button.disabled {
    pointer-events: none;
    color: #e3e6e9;
    opacity: 0.9;
}

.more{
    font-weight: 400;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}